**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates

**/bin
**/obj
**/out
**/dist
**/node_modules
**/.npm-cache
**/.vite

**/.env
**/.env.*
!**/.env.example

**/appsettings.Development.json
**/appsettings.Production.json
**/.DS_Store

frontEnd/
README.md
docker-compose.yml
render.yaml
